<footer class="footer">
  <div class="footer-content">
    <ul class="footer-links">
      <li>
        <a [routerLink]="['/','privacy-policy']"
          >POLITIQUE DE CONFIDENTIALITÉ</a
        >
      </li>
      <li>
        <a [routerLink]="['/','terms-and-conditions']">CONDITIONS GÉNÉRALES</a>
      </li>
      <li><a [routerLink]="['/','legal-notices']">MENTIONS LÉGALES</a></li>
      <li><a [routerLink]="['/','cookie-policy']">POLITIQUE DE COOKIES</a></li>
    </ul>
    <p class="footer-copy">CINEPHOLIA ©2025</p>
  </div>
</footer>
