<mat-drawer-container
  class="movie-filter-side"
  [hasBackdrop]="true"
  (backdropClick)="drawer.close()"
>
  <mat-drawer
    #drawer
    [mode]="'over'"
    class="drawer-80vw"
    (openedChange)="onDrawerOpenedChange($event)"
  >
    <div class="movie-filter-container">
      <h1 class="filter-title">Filtrer les films</h1>
      <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Film</mat-label>
          <mat-select formControlName="movieId">
            <mat-option [value]="''">Tous les films</mat-option>
            @for (movie of allMovies(); track movie.movieId) {
              <mat-option [value]="movie.movieId">{{ movie.title }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Titre</mat-label>
          <input
            matInput
            placeholder="Titre du film"
            formControlName="title"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Genre</mat-label>
          <input
            matInput
            placeholder="Genre"
            formControlName="genre"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Classification</mat-label>
          <mat-select formControlName="ageRating">
            <mat-option [value]="''">Indifférent</mat-option>
            @for (rating of ageRatings; track rating) {
            <mat-option [value]="rating">{{ rating }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Réalisateur</mat-label>
          <input
            matInput
            placeholder="Réalisateur"
            formControlName="director"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-checkbox
          formControlName="recommended"
          color="primary"
          style="margin: 12px 0 12px 8px"
        >
          Recommandé seulement
        </mat-checkbox>

        <button mat-raised-button class="full-width" type="submit">
          Filtrer
        </button>
      </form>
      @if(apiError()) {
      <div class="api-error-message">{{ apiError() }}</div>
      }
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="toolbar-actions">
      <button
        mat-icon-button
        class="toolbar-btn"
        (click)="drawer.toggle()"
        aria-label="Afficher le filtre"
      >
        <mat-icon>search</mat-icon>
      </button>
      @if(isStaff()) {<button
        mat-icon-button
        class="toolbar-btn"
        aria-label="Ajouter"
      >
        <mat-icon [routerLink]="'./new-movie'">add</mat-icon></button
      >}
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
