@if (filteredTheaters()!.length > 0) {
<div class="theater-results">
  @for (theater of filteredTheaters()!; track theater.theaterId) {
  <div class="theater-card">
    <h3>{{ theater.city }} – {{ theater.address }}</h3>
    <p><strong>ID:</strong> {{ theater.theaterId }}</p>
    <p><strong>Code postal:</strong> {{ theater.postalCode }}</p>
    <p><strong>Téléphone:</strong> {{ theater.phone }}</p>
    <p><strong>Email:</strong> {{ theater.email }}</p>
  </div>
  }
</div>
} @else {
<div class="empty-state">
  <mat-icon color="warn" style="vertical-align: middle">search_off</mat-icon>
  <p>Aucun cinéma trouvé.</p>
</div>
}
