.favorite-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 2.2rem 0;
  background-color: var(--secondary-dark-color);
}

.favorite-message {
  max-width: 400px;
  background: var(--secondary-color);
  color: var(--secondary-dark-color);
  border-radius: 18px;
  padding: 2.1rem 1.4rem 1.8rem 1.7rem;
  box-shadow: 0 2px 18px #0004, 0 1.5px 4px #0002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.favorite-message h2 {
  margin: 0 0 1rem 0;
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.favorite-message button{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 50px ;
  border-radius: 12px;
  font-size: 16px;
  margin: auto;
}
.facorite-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--secondary-dark-color);
}

.poster-wrapper img {
  max-width: 400px;
}

.favorite-message p {
  margin: 0;
  font-size: 1.14rem;
  line-height: 1.5;
}

.favorite-card {
  flex: 0 0 380px;
  min-width: 300px;
}

@media (max-width: 900px) {
  .favorite-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .favorite-message {
    max-width: 98vw;
    text-align: center;
    align-items: center;
  }
  .favorite-card {
    width: 100%;
    min-width: unset;
    max-width: 98vw;
  }
}
