<div class="login-form">
  <header><h1>Se connecter</h1></header>
  <form (ngSubmit)="onSubmit()" autocomplete="off">
    <!-- Email field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="email@example.com"
        [formControl]="email"
        (blur)="updateErrorMessages()"
        required
        autocomplete="username"
        type="email"
      />
      @if (email.invalid && (email.dirty || email.touched)) {
      <mat-error>
        <!-- Using @for to loop all error messages -->
        @for (msg of errorMessages(); track msg) {
        <div>{{ msg }}</div>
        }
      </mat-error>
      }
    </mat-form-field>

    <!-- Password field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [formControl]="password"
        required
        autocomplete="current-password"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        (click)="togglePassword()"
        tabindex="-1"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (password.invalid && (password.dirty || password.touched)) {
      <mat-error>
        <div>Le mot de passe est requis</div>
      </mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      type="submit"
      [disabled]="email.invalid || password.invalid"
    >
      Se connecter
    </button>
  </form>
</div>
